In [6]:
name = "Mena"
country = "Thailand"

In [7]:
print(name)

Mena

In [8]:
print(country)

Thailand

In [9]:
print(f'name is {name} and country is {country}')

name is Mena and country is Thailand

In [ ]:
name = "Alia"
age = 30
height = 10.5
print(f"name is {name}, age is {age}, height is {height}")

name is Alia, age is 30, height is 10.5

In [ ]:
## next time 
temp = 51
if temp >50:
    print('turn off burner')

turn off burner

In [1]:
name = "Ju"

In [2]:
print(f'Hello, my name is {name}')

Hello, my name is Ju

In [3]:
n = 5
n2 = 7
print(f'The sum of 5 and 7 is {n+n2}')

The sum of 5 and 7 is 12

In [5]:
name = 'Apple' 
price = 50
print(f'The price of {name} is {price} rupees')

The price of Apple is 50 rupees

In [6]:
age = 27
if age > 18:
    print('You are an adult')
else:
    print('You are not an adult')

You are an adult